* {
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
}

body {
  position: relative;
}

/*header시작*/
.header_box {
  display: flex;
  flex-wrap: wrap;
}

.header_lbox,
.header_rbox {
  overflow: hidden;
  padding-top: 5.5rem;
  height: 94.5rem;
}

.header_lbox {
  background: url("../img/drop-5269146_1920.jpg");
  background-size: cover;
}

.header_lbox_title {
  font-size: 6rem;
  font-weight: bold;
  margin-left: 8rem;
}

.header_rbox {
  background-color: #d1b6e1;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}

.header_rbox_nav_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_rbox_nav {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.header_rbox_text_box {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header_rbox_text {
  margin-top: 6rem;
  font-size: 3.5rem;
  line-height: 5rem;
}

.header_rbox_text:first-child {
  font-size: 3rem;
  opacity: 0.6;
  font-weight: bold;
}

.header_rbox_text:nth-child(2) {
  font-weight: bold;
}

.header_rbox_text:last-child {
  font-size: 3rem;
  opacity: 0.6;
}

.header_rbox_btn_box {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.header_rbox_btn {
  width: 51rem;
  height: 13.3rem;
  border-radius: 80px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
/*header 끝*/

/*main 시작*/

.main_skill_box {
  display: flex;
  flex-wrap: wrap;
}

.main_skill_lbox,
.main_skill_rbox {
  height: 43.5rem;
}

.main_skill_lbox {
  background: url("../img/WQDWDQ.jpg");
  background-size: cover;
  font-size: 3.5rem;
  padding-left: 8rem;
  padding-top: 3.5rem;
}
.main_skill_lbox_title {
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.main_skill_lbox_text {
  color: #519d9e;
}

.main_skill_rbox {
  flex-wrap: wrap;
  display: flex;
}

.main_skill_rbox_right,
.main_skill_rbox_left {
  height: 43.5rem;
}

.main_skill_rbox_left {
  background: url("../img/frog-5319326_1920.jpg");
  background-size: cover;
}

.main_skill_rbox_right {
  background: #9dc8c8;
  padding-top: 3.5rem;
  padding-left: 4rem;
}

.main_nav_box {
  display: flex;
  flex-wrap: wrap;
}

.main_nav {
  height: 43.5rem;
}

.main_nav_com {
  background: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_nav_com > .main_nav_img img {
  width: 18.2rem;
  height: 18.1rem;
}

.main_nav_sns {
  background: #efffe9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main_nav_sns > .main_nav_img img {
  width: 19.6rem;
  height: 27rem;
}

.main_nav_phone {
  background: #2ec4b6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.main_nav_phone > .main_nav_img img {
  width: 15.7rem;
  height: 25.7rem;
}

.main_nav_cal {
  background: #e71d36;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_nav_cal > .main_nav_img img {
  width: 24.6rem;
  height: 24.6rem;
}

.main_content_box {
  display: flex;
  flex-wrap: wrap;
}

.main_lcontent {
  background: url("../img/user-interface-1655006_1280.jpg");
  background-size: cover;
  height: 43.5rem;
}

.main_rcontent {
  font-size: 10rem;
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 43.5rem;
  background: #873d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_send_box {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategray;
  color: white;
}

.main_send_text {
  font-size: 3rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.main_form input {
  text-align: center;
  margin-bottom: 2rem;
  width: 60rem;
  height: 4rem;
  border: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: none;
  color: white;
}

.main_form button {
  width: 12rem;
  height: 5rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

.main_send_btn {
  margin-top: 1rem;
  width: 26rem;
  display: flex;
  justify-content: space-around;
}

.main_send_box form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  height: 30rem;
  background: url("../img/icon-4102192_1280.jpg");
  background-size: cover;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popup {
  position: relative;
}

.popup_close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
}

.simjaeryun_popup {
  position: absolute;
  top: calc(5rem);
  left: calc(50% - 50rem);
  background: url("../img/WQDWDQ.jpg");
  background-size: cover;
  width: 80rem;
  height: 80rem;
  display: none;
}

.skill_popup {
  position: absolute;
  top: calc(5rem);
  left: calc(50% - 50rem);
  background: #9dc8c8;
  width: 80rem;
  height: 80rem;
  display: none;
}

.information_popup {
  position: absolute;
  top: calc(5rem);
  left: calc(50% - 50rem);
  background: #9dc8c8;
  width: 80rem;
  height: 80rem;
  display: none;
}

.information_popup > .main_nav_box {
  margin-top: 6rem;
}

.memo_popup {
  position: absolute;
  top: calc(5rem);
  left: calc(50% - 50rem);
  background: #9dc8c8;
  width: 80rem;
  height: 80rem;
  display: none;
}

.memo_popup > .main_send_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information_popup > .main_nav {
  height: 43.5rem;
}

.information_popup > .main_nav_com {
  background: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.information_popup > .main_nav_com > .main_nav_img img {
  width: 18.2rem;
  height: 18.1rem;
}

.main_nav_sns {
  background: #efffe9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.main_nav_sns > .main_nav_img img {
  width: 19.6rem;
  height: 27rem;
}

.main_nav_phone {
  background: #2ec4b6;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.main_nav_phone > .main_nav_img img {
  width: 15.7rem;
  height: 25.7rem;
}

.main_nav_cal {
  background: #e71d36;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_nav_cal > .main_nav_img img {
  width: 24.6rem;
  height: 24.6rem;
}

@media (max-width: 767px) {
  body,
  html {
    font-size: 5px;
  }

  .header_box {
    flex-direction: column;
  }
}

@media (max-width: 1710px) and (min-width: 767px) {
  html,
  body {
    font-size: 7px;
  }

  .header_rbox_btn_box {
    display: none;
  }
}

@media (max-width: 440px) {
  html,
  body {
    font-size: 4px;
  }
}
